/*  Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
		h1,h3{
		color:#00ff80;
	}
	.bg h1{
		color: blue;
	}
 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
	h1,h3{
		color:#00cca3;
	}
 }
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	h1,h3{
	color:#fff;	
	}
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
	h1,h3{
		color:#a31aff;
	}
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

 }